@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Inter:wght@700&display=swap');

*{
    box-sizing: border-box;
	color: azure;
}

body{
	background-size: auto 100%;
	/* background-position: center;
	background-repeat: no-repeat; */
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.container {
    display: flex;
    width: 70vw;
	/* margin: 0px auto; */
  }

.panel{
      background-size: auto 100%;
      background-position: center;
      background-repeat: no-repeat;
      height: 80vh;
      border-radius: 1vw;
      cursor: pointer;
      flex: 0.2;
      margin: 20px;
      position: relative;
	  opacity: 0.8;
      transition: flex 0.3s ease-in;
	  
	  /* transition: active 0.2s ease-in 0.05s; */
  }

.panel:not(.active):hover {	
	box-shadow: 0 0 9px rgb(37, 37, 37);
	background-size: auto 110%;
	transition: background-size 0.2s ease-in-out 0.05s;
}
.panel h3 {
    font-size: 10px;
    margin: 0px;
    opacity: 0;
}

.panel.active{
	background-size: auto 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	border-radius: 1vw;
	/* border: red solid 2px; */

    flex: 1;
	display: flex;
	justify-content: center;
	
	opacity: 1;
}

.panel.active h3 {
    /* text-decoration: underline; */
	text-shadow: 1px 2px 5px  rgb(0, 0, 0) ;
    opacity: 1;
    transition: opacity 0.2s ease-in 0.2s;

	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 2vh;
}





@media (max-width: 1000px){
    .container{
        width: 100vw;
        /* background-color: aquamarine; */
    }

    .panel{
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 90vh;
        border-radius: 2vw;
        cursor: pointer;
        flex: 0.9;
        margin: 15px;
        position: relative;
        opacity: 0.8;
        /* transition: flex 0.3s ease-in; */
        /* border: rgb(0, 8, 255) solid 18px; */
        /* transition: active 0.2s ease-in 0.05s; */
    }
    .panel.active{
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        border-radius: 2vw;
        /* border: rgb(0, 8, 255) solid 18px; */
        flex: 3;
        display: flex;
        justify-content: center;
        
        opacity: 1;
    }
}

@media (max-width: 600px){
    .container{
        width: 100vw;
        /* background-color: rgb(127, 255, 148); */
    }

    .panel{
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        height: 90vh;
        border-radius: 2vw;
        cursor: pointer;
        flex: 0.3;
        margin: 5px;
        position: relative;
        opacity: 0.8;
        /* transition: flex 0.3s ease-in; */
        /* border: rgb(0, 8, 255) solid 18px; */
        /* transition: active 0.2s ease-in 0.05s; */
    }
    .panel.active{
        background-size: auto 100%;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        border-radius: 2vw;
        /* border: rgb(0, 8, 255) solid 18px; */
        flex: 3;
        display: flex;
        justify-content: center;
        
        opacity: 1;
    }
}
